@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


main.background-img{
    width: 100%;
    height: 100%;
    background-color: rgb(72, 72, 72);
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

div.container-FormLogin{
    max-width: 487px;
    min-width: 300px;
    max-height: 642px;
    min-height: 350px;
    width: 34%;
    height: 70%;
    overflow-x: hidden;
}

div.login {
    width: 100%;
    height: 100%;
    background-color: white;
}



.login div{
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.logo{
    width: 35%;
    height: 38%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h4.titulo-login{
    margin: 0%;
    font-size: 25px;
    font-weight: 100;
    font-family: "Questrial";
}

input.input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid;
    color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Questrial";
}

input.input::placeholder{
    text-align: center;
}


div :link.link-button-entrar {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    color: #909090;
    background-color: #76BB4C;
    font-size: 22px;
    font-family: "Questrial";
}

div :link{
    text-decoration: none;
    color: #909090;
    font-family: 'Questrial';
    font-size: 18px;
}

.link-cadastro{
    text-decoration: none;
    font-family: 'Questrial';
    color: #555555;
    font-size: 18px;
}