div.containerPerfilSemPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #C5C5C5;
    padding: 1.75rem;
    width: 42rem;
}

div.containerPerfilSemPost h2 {
    color: #c5c5c5;
}