main.post-container{
    display: flex;
    background-color: #fff;
    border: 1px solid #C5C5C5;
    padding: 1.75rem;
    justify-content: space-between;
    width: 700px;
}

main div.user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

main div.post form div{
    display: flex;
    flex-direction: column;
    width: 35rem;
}


main div.post form div textarea {
    width: 35rem;
    box-sizing: border-box;
    border: 1px solid #8BC34A;
    border-radius: 10px;
    position:relative;
    height: 5rem;
}
main div.post div.button-publicar{
    display: flex;
    padding-top: 1.5vh;
    align-items: flex-end;
}


main div.post div.button-publicar button{
    color: #fff;
    background: #6033AA;
    border-radius: 30px;
    border: none;
    width: 7rem;
    height: 2rem;
    font-family: 'Questrial';
    font-size: 16px;
}

div.post-content p{
    padding-bottom: 1rem;
}
